name: Deploy Study Quiz Backend

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and tag Docker image
        run: |
          IMAGE_TAG=${GITHUB_SHA::7}
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          docker build -t tungtrieu0801/study_quiz_be:$IMAGE_TAG .
          docker tag tungtrieu0801/study_quiz_be:$IMAGE_TAG tungtrieu0801/study_quiz_be:latest

      - name: Push Docker images
        run: |
          docker push tungtrieu0801/study_quiz_be:$IMAGE_TAG
          docker push tungtrieu0801/study_quiz_be:latest

      - name: Deploy to VPS
        uses: appleboy/ssh-action@v0.1.6
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          envs: IMAGE_TAG
          script: |
            docker pull tungtrieu0801/study_quiz_be:$IMAGE_TAG
            docker stop study_quiz_be || true
            docker rm study_quiz_be || true
            docker run -d --name study_quiz_be -p 5000:5000 tungtrieu0801/study_quiz_be:$IMAGE_TAG
